/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

body {
  color: #212121;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

.wrapper {
  max-width: 80vw;
  margin: 0 auto;
}

/* header styles */
header {
  width: 100vw;
  height: 100vh;
  background-image: url(./images/banner/banner1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.header-contents {
  text-align: right;
  padding-left: 50%;
}

.header-title {
  font-size: 6rem;
  line-height: 1.3;
  margin-bottom: 2rem;
}

.header-contents p {
  margin-bottom: 2rem;
}

.btn {
  font-family: inherit;
  background-color: #f7f7f7;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 1.5rem 3.5rem;
  border-radius: 5px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #212121;
  color: #f7f7f7;
}

.btn-primary {
  background-color: orangered;
  color: #f7f7f7;
}

/* failures styles */
.failures-section {
  padding: 5vw 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

.failures-right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.failures-right h2 {
  font-size: 4.8rem;
  width: 75%;
}

.failures-right p {
  width: 75%;
}

.failures-right ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* download styles */
.download {
  padding: 5vw 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

.download-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.download-left h2 {
  font-size: 4.8rem;
}

.download-left h2 span {
  color: #ff4500;
}

.devices {
  display: flex;
  gap: 5rem;
}

.device {
  cursor: pointer;
  background-color: rgba(255, 68, 0, 0.1);
  padding: 2rem;
  height: 10rem;
  width: 14rem;
  border-radius: 5px;
  border: 2px solid rgba(255, 68, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.device i {
  font-size: 2.8rem;
}

.device:hover {
  background-color: #ff4500;
  color: #f7f7f7;
}

.download-left .btn {
  margin-top: 2rem;
}

/* plans styles */
.plans-section {
  padding: 5vw 0;
}

.plans-section h2 {
  font-size: 4.8rem;
  text-align: center;
  margin-bottom: 5rem;
}

.plans {
  display: flex;
  justify-content: center;
  gap: 10rem;
}

.plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plan img {
  margin-bottom: 2rem;
}

.plan h3 {
  font-size: 2.6rem;
}

/* cta styles */
.cta {
  margin: 5rem 20vw;
  padding: 5rem;
  border-radius: 10px;
  background-image: linear-gradient(
      to right,
      rgba(255, 68, 0, 0.65),
      transparent
    ),
    url(./images/watch.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cta h2 {
  font-size: 3.2rem;
  color: #f7f7f7;
  width: 50%;
  line-height: 1.3;
  margin-bottom: 2rem;
}

/* footer styles */
footer {
  background-color: #212121;
  color: #f7f7f7;
  margin-top: 10rem;
  padding: 5vw 10vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-left h3 {
  font-size: 3.2rem;
}

.footer-left p {
  max-width: 50%;
  color: rgba(247, 247, 247, 0.75);
}

.footer-left .icons {
  display: flex;
  gap: 2rem;
}

.footer-right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-right h4 {
  font-size: 2.6rem;
}

.footer-right input {
  font-family: inherit;
  font-size: inherit;
  width: 50rem;
  padding: 2rem;
  background-color: transparent;
  color: #f7f7f7;
  border: 1px solid rgba(247, 247, 247, 0.75);
  border-radius: 5px;
}

.footer-right .btn {
  align-self: flex-start;
}

.footer-right .btn:hover {
  background-color: #ff4500;
}
